# Question 4: Can a predictive model be built for future prediction of the possibility of complaints of the specific type that you identified in response to Question 1?

## Import datasets and basic libraries

In [22]:
import seaborn as sns
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
%matplotlib inline

binary_df = pd.read_csv("Merged Binary Complaint Approach.csv")
num_com_df = pd.read_csv("Num of Complaints Approach.csv")

/Users/zenoix/opt/anaconda3/envs/IBM-DS/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3071: DtypeWarning: Columns (0) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

## This notebook will use two approaches to attempt to answer question 4
1. Use a binary approach where the features will either end in a complaint being made(represented by a 1) or not (represented by a 0)
2. Consider the total number of complaints for each street based on the building's features

In [14]:
binary_df.head()

,Incident Address,Complaint Made,Lot,LotArea,BldgArea,ResArea,OfficeArea,RetailArea,NumBldgs,NumFloors,LotDepth,BldgDepth,YearBuilt,YearAlter1,BuiltFAR,ResidFAR,CommFAR,FacilFAR
0,2781 RESERVOIR AVENUE,1,56,21500,0,0,0,0,0,0.0,94.25,0.0,0,0,0.0,0.0,0.0,0.0
1,2691 RESERVOIR AVENUE,1,56,21500,0,0,0,0,0,0.0,94.25,0.0,0,0,0.0,0.0,0.0,0.0
2,2763 RESERVOIR AVENUE,1,56,21500,0,0,0,0,0,0.0,94.25,0.0,0,0,0.0,0.0,0.0,0.0
3,2763 RESERVOIR AVENUE,1,56,21500,0,0,0,0,0,0.0,94.25,0.0,0,0,0.0,0.0,0.0,0.0
4,2763 RESERVOIR AVENUE,1,56,21500,0,0,0,0,0,0.0,94.25,0.0,0,0,0.0,0.0,0.0,0.0

In [15]:
num_com_df.head()

,Number of Complaints,Lot,LotArea,BldgArea,ResArea,OfficeArea,RetailArea,NumBldgs,NumFloors,LotDepth,BldgDepth,YearBuilt,YearAlter1,BuiltFAR,ResidFAR,CommFAR,FacilFAR
0,975,9039,4905,0,0,0,0,0,0.0,93.55,0.0,0,0,0.0,6.02,0.0,6.5
1,4,112,11692,0,0,0,0,0,0.0,146.25,0.0,0,0,0.0,0.00,0.0,0.0
2,4,114,0,0,0,0,0,0,0.0,151.58,0.0,0,0,0.0,0.00,2.0,6.5
3,4,130,7200,0,0,0,0,0,0.0,118.00,0.0,1931,0,0.0,0.00,2.0,6.5
4,4,1,400,0,0,0,0,0,0.0,5.00,5.0,0,0,0.0,0.00,2.0,0.0

## Approach 1: Binary Approach
I am first going to be using a binary logistic regression to predict if a complaint will be made or not.

In [11]:
# Create the features (X) and target (y)
X = binary_df[binary_df.columns[2:]]
y = binary_df["Complaint Made"]

0    1
1    1
2    1
3    1
4    1
Name: Complaint Made, dtype: int64

In [16]:
# Scale the feature values
X = StandardScaler().fit(X).transform(X)

In [24]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=2)